<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<section data-bs-version="5.1" class="form6 cid-urcUvw8mR9" id="form6-3">
  <div class="container">
    <div class="mbr-section-head">
      <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
        <strong>Edição de pedidos</strong>
      </h3>
    </div>

    <div class="row justify-content-center mt-4">
      <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
        <form action="/pedidos/update" method="POST" class="mbr-form form-with-styler mx-auto" data-form-title="Form Name">
          <input type="hidden" name="id" value="<%= pedido.id %>">

          <div class="dragArea row">
            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="numero">
              <input type="number" name="numero" value="<%= pedido.numero %>" data-form-field="numero" class="form-control" id="numero-form6-3">
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="valor">
              <input type="number" name="valor" value="<%= pedido.valor %>" data-form-field="valor" class="form-control" id="valor-form6-3" step="0.2">
            </div>

            <div class="col-auto mbr-section-btn align-center">
              <button type="submit" class="btn btn-success display-4">Salvar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
